.stars{
    color:darkkhaki;
}
.star1{
    color:rgb(241, 89, 89);
}
.star2{
    color:rgb(241, 157, 89);
}
.star3{
    color:rgb(241, 226, 89);
}
.star4{
    color:rgb(188, 241, 89);
}
.star5{
    color:rgb(124, 241, 89);
}