.stars{
    color:darkkhaki;
}
.stars1{
    color:rgb(241, 89, 89);
}
.stars2{
    color:rgb(241, 157, 89);
}
.stars3{
    color:rgb(241, 226, 89);
}
.stars4{
    color:rgb(188, 241, 89);
}
.stars5{
    color:rgb(124, 241, 89);
}