body {
    padding: none;
    margin: none;
}


.nabar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-navbar {}

.login-signup {
    display: flex;
}

.login,
.signup {}